.auth-section {
    margin-top: 100px;
}

.auth-title {
    color: #132968;
}

.check-email-box {
    padding-top: 80px;
}

.auth-form-container {
    margin-top: 20px;
    border-radius: 8px;
    /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 20px 20px 30px;
    background-color: #FFFFFF;
}

.auth-image-container {
    display: none;
}

@media only screen and (min-width: 768px) {
    .auth-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}