.sold-out-container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booking-sold-out-image {
    width: 70%;
}

.sold-out-title {
    color: #132968;
    font-weight: 700;
}

.sold-out-description {
    color: #425486;
    font-weight: 500;
}

.success-booking {
    font-size: 150px;
    color: #24C89A;
}