.form-elements {
    margin-top: 100px;
}

.default-button {
    background-color: #FA6B6B;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: 500;
    color: #FFFFFF;
}

.default-button:hover {
    background-color: #FB8989;
    transition: 0.5s ease-in-out;
}

.default-btn-full-width {
    width: 100%;
}

.styled-btn {
    padding: 10px 25px;
    background-color: initial;
    border: 1px solid #A1A9C3;
    color: #425486;
    font-weight: 500;
    border-radius: 8px;
}

.styled-btn:hover {
    background: rgba(161,169,195,.1);
}

.form-background {
    background-color: #FFFFFF;
}

.custom-inputs {
    background-color: #F1F2F6;
    padding: 16px 16px;
    color: #425486 !important;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 300ms ease 0s;
}

.custom-inputs-check {
    background-color: #F1F2F6;
    height: 20px;
    width: 20px;
    border: 1px solid #132968;
    transition: all 300ms ease 0s;
}

.custom-inputs-check:checked {
    background-color: #132968 !important;
    border: 1px solid transparent;
}

.custom-inputs-check:focus,
.custom-inputs-check:active,
.custom-inputs-check:hover {
    outline: none;
    box-shadow: none;
}

.custom-selects {
    background-color: #F1F2F6;
    padding: 11px;
    color: #425486 !important;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 300ms ease 0s;
    border-radius: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #425486 !important;
    opacity: 1; /* Firefox */
    font-weight: 500;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #425486 !important;
    font-weight: 500;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #425486 !important;
    font-weight: 500;
}

.custom-labels {
    color: #132968;
    font-size: 14px;
    font-weight: 500;
}

.custom-inputs:active,
.custom-inputs:hover,
.custom-selects:hover,
.custom-inputs:focus,
.custom-selects:active,
.custom-selects:focus {
    outline: none;
    border-color: #A1C4C3;
    background-color: #F1F2F6;
    box-shadow: none;
}

.select-custom:hover {
    outline: none !important;
    border-color: #A1C4C3 !important;
    background-color: #F1F2F6 !important;
    box-shadow: none !important;
}

.passenger-count {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.increment-decrement-btn {
    border: none;
    outline: none;
    /*width: 50px;*/
    /*height: 50px;*/
    background-color: transparent;
    color: #5e90cc;
    font-size: 28px;
}

.increment-decrement-btn:disabled {
    color: #DDDDDD;
}

.passenger-counter-text {
    margin: 0 15px 0 15px;
    color: #425486;
    font-size: 20px;
}

.passenger-counter-label {
    margin: 0 0 0 10px;
    color: #132968;
    font-size: 16px;
    font-weight: bold;
}

.forgot-password-text {
    color: #FA6B6B;
    font-weight: 500;
}

.forgot-password-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.register-status-text {
    color: #425486;
    font-weight: 500;
}

.register-status-action {
    color: #FA6B6B;
    font-weight: 500;
}

.register-status-action:hover {
    text-decoration: underline;
    cursor: pointer;
}

.privacy-policy {
    font-weight: 500;
    color: #425486;
    font-size: 14px;
}

.styled-text {
    color: #FA6B6B;
}

.styled-text:hover {
    cursor: pointer;
    text-decoration: underline;
}
